flows.json
[{"id":"2439ff32.51ea9","type":"inject","z":"be1b3011.aaa3b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":80,"wires":[["98b229f0.40b388"]]},{"id":"98b229f0.40b388","type":"http request","z":"be1b3011.aaa3b","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5","tls":"","proxy":"","authType":"","x":430,"y":80,"wires":[["f1aaedb1.b133d"]]},{"id":"9c87c4bf.9bee08","type":"debug","z":"be1b3011.aaa3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":80,"wires":[]},{"id":"f1aaedb1.b133d","type":"function","z":"be1b3011.aaa3b","name":"","func":"function toNormalDate(dt){\n    var date = new Date(dt);\n    var day = date.getDate() < 10 ? \"0\"+date.getDate() : date.getDate();\n    var month = date.getMonth()+1 < 10 ? \"0\"+(date.getMonth()+1) : date.getMonth()+1;\n    var year = date.getFullYear();\n    var hours = date.getHours() < 10 ? \"0\"+date.getHours() : date.getHours();\n    var minutes = date.getMinutes() < 10 ? \"0\"+date.getMinutes() : date.getMinutes();\n    var seconds = date.getSeconds() < 10 ? \"0\"+date.getSeconds() : date.getSeconds();\n    return year + \"-\" + month + \"-\" + day + \" \" + hours + \":\" + minutes + \":\" + seconds;\n}\n\nDate.prototype.setTimezoneOffset = function(minutes) {\n        var _minutes;\n            if (this.timezoneOffset == _minutes) {\n                        _minutes = this.getTimezoneOffset();\n            } else {\n                        _minutes = this.timezoneOffset;\n            }\n                if (arguments.length) {\n                            this.timezoneOffset = minutes;\n                } else {\n                            this.timezoneOffset = minutes = this.getTimezoneOffset();\n                }\n                    return this.setTime(this.getTime() + (_minutes - minutes) * 6e4);\n};\n\n\n\nvar USD = msg.payload.filter(el=>{\n    return el.ccy=='USD';\n});\nmsg.HW1 = USD[0].buy;\nvar now = new Date();\nmsg.DateHW1 = toNormalDate(now.setTimezoneOffset(-180));\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["9c87c4bf.9bee08"]]}]