lection2.json
[{"id":"744bda44.5708a4","type":"http request","z":"28fb6c15.405a64","name":"Проверка сессии","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{sid}}?activeOnly=true","tls":"","proxy":"","authType":"","x":550,"y":120,"wires":[["374d9289.795c1e"]]},{"id":"e4e3ec0e.d7c4c","type":"function","z":"28fb6c15.405a64","name":"Вытягиваем данные из запроса","func":"msg.sid = null;\nmsg.phone = null;\ntry{\n    msg.sid = msg.payload.sid;\n    msg.phone = msg.payload.phone;\n}catch(ex){\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["744bda44.5708a4"]]},{"id":"374d9289.795c1e","type":"xml","z":"28fb6c15.405a64","name":"","property":"payload","attr":"","chr":"","x":710,"y":120,"wires":[["e933bca0.e7cc7"]]},{"id":"e933bca0.e7cc7","type":"function","z":"28fb6c15.405a64","name":"Проверка доступов и корректности номера","func":"if (msg.payload.hasOwnProperty(\"session\") && msg.payload.session.user[0].$.login == \"conveyor96754\"){\n    \n    if (msg.phone!=null){\n        var check = msg.phone.match(/^\\+\\d{12}$/);\n        if (check!=null){\n            msg.phone = check[0];\n        }else{\n            return [null, msg, null];\n        }\n        \n        \n        msg.operator = '';\n        switch(msg.phone.substring(0,6)){\n            case '+38099':\n                msg.operator = 'Vodafone';\n            break;\n            case '+38098':\n                msg.operator = 'Kyivstar';\n            break;\n            case '+38097':\n                msg.operator = 'Kyivstar';\n            break;\n            case '+38096':\n                msg.operator = 'Kyivstar';\n            break;\n            case '+38095':\n                msg.operator = 'Vodafone';\n            break;\n            case '+38094':\n                msg.operator = 'Intertelecom';\n            break;\n            case '+38093':\n                msg.operator = 'Lifecell';\n            break;\n            case '+38092':\n                msg.operator = 'PeopleNet';\n            break;\n            case '+38091':\n                msg.operator = 'Trimob';\n            break;\n            case '+38073':\n                msg.operator = 'Lifecell';\n            break;\n            case '+38068':\n                msg.operator = 'Kyivstar';\n            break;\n            case '+38067':\n                msg.operator = 'Kyivstar';\n            break;\n            case '+38066':\n                msg.operator = 'Vodafone';\n            break;\n            case '+38063':\n                msg.operator = 'Lifecell';\n            break;\n            case '+38050':\n                msg.operator = 'Vodafone';\n            break;\n            default:\n                msg.operator = 'Не найден';\n            break;\n        }\n\n    }else{\n        return [null, msg, null];\n    }\n    \n    \n}else{\n    return [msg, null, null];\n}\n\n\n\n\nreturn [null, null, msg];","outputs":3,"noerr":0,"x":950,"y":120,"wires":[["344828fa.680ee8"],["58d874e9.dd612c"],["dc63107a.21b0f"]]},{"id":"71fb8f71.c027","type":"http in","z":"28fb6c15.405a64","name":"","url":"/getmob","method":"get","upload":false,"swaggerDoc":"","x":70,"y":120,"wires":[["e4e3ec0e.d7c4c"]]},{"id":"344828fa.680ee8","type":"function","z":"28fb6c15.405a64","name":"Нет доступа","func":"msg.payload = \"Некорректный sid либо нет доступа\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["35c3d06.f1b673"]]},{"id":"58d874e9.dd612c","type":"function","z":"28fb6c15.405a64","name":"Некорректный телефон","func":"msg.payload = \"Некорректное значение переменной phone (необходимо указать в формате +380ххххххххх)\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["35c3d06.f1b673"]]},{"id":"dc63107a.21b0f","type":"function","z":"28fb6c15.405a64","name":"Успешный ответ","func":"msg.payload = \"Мобильный оператор: \" + msg.operator;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":260,"wires":[["35c3d06.f1b673"]]},{"id":"35c3d06.f1b673","type":"http response","z":"28fb6c15.405a64","name":"","statusCode":"","headers":{},"x":1110,"y":220,"wires":[]},{"id":"3a191b18.7bc344","type":"http in","z":"28fb6c15.405a64","name":"","url":"/getmob","method":"post","upload":false,"swaggerDoc":"","x":70,"y":160,"wires":[["e4e3ec0e.d7c4c"]]}]